@import "nav.css";

.hero-div {
  display: flex;
  width: 100%;
  justify-content: center;
  height: calc(100vh - 120px);
  background-size: cover;
  background-color: #090162;
  align-items: center;
}

.content-hero .logo {
  align-items: center;
  height: 100px;
  display: block;
  margin: auto;
}

.text-header {
  font-size: 35px;
  font-weight: bold;
  margin-top: 15px;
  color: #a9a9a9;
