@import "nav.css";

.hero-div {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 450px;
  background-size: cover;
  background-color: #090162;
  align-items: center;
}

.content-hero .logo {
  align-items: center;
  height: 150px;
  display: block;
  margin: auto;
}

.text-header {
  font-size: 34px;
  font-weight: bold;
  margin-top: 15px;
  color: #a9a9a9;
}

/* product*/
.products {
  padding: 20px 0;
  overflow: hidden;
  position: relative;
}

.product-category {
  font-size: 32px;
  padding: 0 10vw;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  /*alinhar os cards lado a lado*/
  display: flex;
  padding: 0 10vw;
  /*overflow-x auto vai adicionar um scroll bar quando houver overflow na direcao horizontal*/
  overflow-x: auto;
  /*scroll fica smooth*/
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  /*esconder o scroll bar*/
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 350px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  /* vao haver alguns elementos absolutos dentro*/
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product.thumb {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  font-size: 18px;
  background: #090162;
  color: white;
  border-radius: 10px;
  right: 20px;
  top: 10px;
  padding: 6px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: #090162;
  border-radius: 10px;
  height: 40px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: 1px;
  line-height: 10px;
  padding: 10px;
  transition: 0.7s;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background-color: #39328b;
}

.product-info {
  width: 100%;
  height: 130px;
  padding-top: 5px;
}

.product-brand {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-description {
  font-size: 18px;
  width: 100%;
  height: 20px;
  line-height: 25px;
  overflow: hidden;
  opacity: 0.7;
  margin: 5px 0;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.previous-btn,
.next-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.previous-btn {
  left: 0;
  transform: rotate(180deg);
}

.next-btn {
  right: 0;
}

.previous-btn img,
.next-btn img {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.previous-btn:hover img,
.next-btn:hover img {
  opacity: 0.3;
}
