/* aplicar estilo a TODOS os elementos front-end */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.navbar {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background: #ededfd;
  z-index: 9;
}

.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
  border-radius: 10px;
}

.nav-items {
  display: flex;
  padding: 0 40px;
  align-items: center;
}
.search {
  width: 500px;
  display: flex;
}

.search-input {
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #ffffff;
  outline: none;
}

.search-input:focus {
  border: 1px solid #090162;
}

.search-button {
  background: #090162;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 20%;
  height: 40px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: 1px;
}

.search-button:hover {
  box-shadow: 1px 2px 22px 0px #090162;
}

.search-input::placeholder {
  color: #a9a9a9;
  font-size: 15px;
}

.nav-items a {
  margin-left: 20px;
}

.nav-items a img {
  width: 35px;
}

.links-div {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  list-style: none;
  justify-content: center;
  border-top: 1px solid #a9a9a9;
  margin-bottom: 0;
}

.link {
  text-transform: capitalize;
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  text-decoration: none;
  color: #090162;
  font-weight: bold;
}

.link:hover {
  color: #2f2694;
  transition: 0.6s;
}
